---
---
@import "portfolYOU";
.vega-tooltip {
  background-color: #ffffff !important;
  color: #000000 !important;
  border: 1px solid #ccc !important;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.2) !important;
}

.vega-tooltip table tr td {
  color: #000000 !important;
}
